@font-face {
  font-family: TextAltRegular;
  src: url('../assets/fonts/Texta-Alt-Regular.ttf');
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: TextAltRegular;
  /* background-color: #141414; */
  background-color: #fff;
  color: #3d3d3d;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.borderLeft {
  background-color: #464646;
  width: 35px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.borderRigth {
  background-color: #e6e6e6;
  width: 35px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
}

.row {
  width: 75%;
  max-width: 1140px;
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.row p {
  margin-bottom: 5px;
}

.title {
  font-size: 40px;
  letter-spacing: 18px;
  color: #3d3d3d;
}

.title p {
  margin: 20px;
}

.subtitle {
  font-size: 20px;
  letter-spacing: 5px;
  color: #bdbdbd;
}

h1 {
  font-weight: bold;
}

h4 {
  font-weight: normal;
}

.lista {
  margin: 0;
  padding: 0;
}

.lista li {
  list-style-type: none;
  margin: 5px;
}

.tabela tbody tr td:first-child {
  padding-right: 50px;
}
