body {
    background: #8e2de2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #8e2de2, #4a00e0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #8e2de2, #4a00e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font-family: Arial;
    min-height: 100vh;
     
}
   
.menu{
    background-color: white;
}

.menu ul {
    display: flex;
    justify-content: space-around
}

.menu li{
    list-style: none
}

a {
    color:teal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
}

.site-subtitle {
    font-style: italic;
}
   
   