body {
  background-color: #141414;
  color: #fff;
  height: 100%;
  text-align: center;
  font-family: GhotanLight;
}

@font-face {
  font-family: GhotanLight;
  src: url(../fonts/GothamLight.ttf);
}

.txtWhite {
  color: #fff;
}

.navBarItem:hover {
  font-weight: bold;
}